@font-face {
    font-family: "Arial Rounded MT Bold";
    src: url("../font/arialroundedmtbold.ttf");
}

:root {
    --dark-1: hsl(0, 0%, 10%);
    --dark-2: hsl(0, 0%, 20%);
    --dark-3: hsl(0, 0%, 30%);
    --light-1: hsl(0, 0%, 90%);
    --blue: #608cab;
    --green: #72a079;
    --red: #bb4948;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    align-items: center;
    background-color: var(--dark-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    transition: background-color 0.25s;
}

.input-container {
    align-items: center;
    background-color: var(--dark-2);
    border-radius: 0.5rem;
    bottom: 2rem;
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    position: fixed;
}

@media only screen and (max-height: 700px) {
    .input-container {
        bottom: unset;
        flex-direction: column;
        right: 2rem;
    }
}

.input-button {
    background-color: var(--dark-3);
    border-radius: 0.5rem;
    color: var(--light-1);
    display: flex;
    font-size: 2rem;
    height: 4rem;
    padding: 1rem;
    text-align: center;
    transition: background-color 0.25s, color 0.25s, opacity 0.25s;
    width: 4rem;
}

.input-button:focus-visible {
    outline: 2px solid var(--light-1);
}

.input-button:hover {
    cursor: pointer;
}

.input-button:active {
    opacity: 0.9;
}

.input-button.inverted {
    background-color: var(--light-1);
    color: var(--dark-1);
}

.output-container {
    border-radius: 1rem;
    display: grid;
    gap: 4rem;
    grid-column: 1 / 4;
    grid-template-rows: repeat(2, 1fr);
    height: 50vh;
    padding: 1rem;
}

.computer-output,
.player-output {
    align-items: center;
    color: var(--light-1);
    display: flex;
    font-size: 8rem;
    justify-content: center;
    transition: opacity 0.1s;
}

.computer-output.fade-out,
.player-output.fade-out {
    opacity: 0;
}

.computer-output .fa-solid.fa-hand-scissors {
    transform: rotate(-90deg) scaleY(-1);
}

.computer-output .fa-solid {
    transform: rotate(180deg);
}

.fa-solid.fa-hand-scissors {
    transform: rotate(90deg) scaleY(-1);
}