@font-face {
    font-family: "Arial Rounded MT Bold";
    src: url("../font/arialroundedmtbold.ttf");
}

:root {
    --blue: #608cab;
    --green: #72a079;
    --red: #bb4948;
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-1: hsl(0, 0%, 90%);
        --primary-2: hsl(0, 0%, 80%);
        --primary-3: hsl(0, 0%, 70%);
        --secondary-1: hsl(0, 0%, 10%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-1: hsl(0, 0%, 10%);
        --primary-2: hsl(0, 0%, 20%);
        --primary-3: hsl(0, 0%, 30%);
        --secondary-1: hsl(0, 0%, 90%);
    }
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    align-items: center;
    background-color: var(--primary-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    transition: background-color 0.25s;
}

.input {
    align-items: center;
    background-color: var(--primary-2);
    border-radius: 1rem;
    bottom: 2rem;
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    position: fixed;
}

.input > * {
    background-color: var(--primary-3);
    border-radius: 1rem;
    color: var(--secondary-1);
    display: flex;
    font-size: 2rem;
    height: 4rem;
    padding: 1rem;
    text-align: center;
    transition: background-color 0.25s, color 0.25s, opacity 0.25s;
    width: 4rem;
}

.input > *:hover {
    cursor: pointer;
    opacity: 0.8;
}

.input > *.inverted {
    background-color: var(--secondary-1);
    color: var(--primary-1);
}

.output {
    border-radius: 1rem;
    display: grid;
    grid-column: 1 / 4;
    grid-template-rows: repeat(2, 1fr);
    height: 50vh;
    overflow: hidden;
    padding: 1rem;
}

.output > * {
    align-items: center;
    color: var(--secondary-1);
    display: flex;
    font-size: 8rem;
    justify-content: center;
    transition: opacity 0.1s;
}

.output > *.fade-out {
    opacity: 0;
}

.output #computer .fa-solid.fa-hand-scissors {
    transform: rotate(-90deg) scaleY(-1);
}

.output #computer .fa-solid {
    transform: rotate(180deg);
}

.fa-solid.fa-hand-scissors {
    transform: rotate(90deg) scaleY(-1);
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }
}